/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-jun-2017, 10:20:26
    Author     : Eduardo-Amilcar
*/

#validated_user h1{
    color: white;
}

table, th, td {
    border: 1px solid black !important;
    cursor: pointer !important;

} 

#logo a{
    background-color: #1075a9;
    color:red !important;
}